* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    display: none;
}
.container {
    padding: 0 16px;
    width: 100%;
}
@mixin header-style($width) {
    // cursor: pointer;
    // height: 56px;//grid -tem-row qildi buni ishini
    // padding: 0 3px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 21%);
    position: fixed;
    // display: flex;
    // align-items: center;
    z-index: 1;
    width: $width;
}
#telegram {
    grid-template-columns: 27.5% 1fr 25%;
    $secondary-text-color: #707579;
    $column-center-width: 47.5%;
    $column-left-width: 27.5%;
    $column-right-width: 25%;
    $header-height: 56px;

    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    display: grid;

    #column-left {
        overflow: auto;
        height: 100vh;
        .left-header {
            @include header-style($column-left-width);
            z-index: 6;
            .left-header-wrapper {
                display: grid;
                grid-template-columns: 40px 1fr;
                grid-template-rows: $header-height;
                align-items: center;
                justify-items: center;
                position: relative;
                .settings {
                    transition: 300ms;
                    position: absolute;
                    bottom: 0;
                    background-color: white;
                    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 21%);
                    &.hide {
                        transform: scale(0);
                    }
                }
                .toggle-settings {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    display: grid;
                    place-items: center;
                    transition: 300ms;
                    &:hover {
                        background-color: rgba(128, 128, 128, 0.479);
                        border-radius: 50%;
                    }
                }
                .search-wrapper {
                    width: 100%;
                    line-height: 42px;
                    border-radius: 22px;
                    border: 1px solid #dfe1e5;
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                    grid-template-rows: 40px;
                    align-items: center;
                    i {
                        width: 42px;
                        text-align: center;
                        font-size: 17px;
                        color: rgba(128, 128, 128, 0.596);
                        border-radius: 50%;
                        &:last-child {
                            opacity: 0;
                            cursor: pointer;
                            padding: 30% 0;
                            font-size: 19px;
                            color: #3390ec;
                            transition: 300ms;
                            &:hover {
                                background-color: rgba(0, 102, 255, 0.151);
                            }
                        }
                    }
                    input {
                        height: 40px;
                        outline: none;
                        font-size: 100%;
                        border: none;
                    }
                }
            }
        }
        .left-navigation {
            padding-left: 11px;
            padding-top: $header-height;
            .navbar {
                // min-width: 120%;//bu overflow ga xalaqit berdi
                display: flex;
                list-style: none;
                overflow-x: auto;
                li {
                    position: relative;
                    height: 3rem;
                    padding: 0 1rem;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $secondary-text-color;
                    display: flex;
                    flex-wrap: nowrap;
                    white-space: nowrap; //shunga ancha vaqtim ketti. all chats bolinmasligi kk edi
                    justify-content: center;
                    align-items: center;
                    transition: 300ms;
                    &:hover {
                        background-color: rgba(128, 128, 128, 0.219);
                        border-top-right-radius: 6px;
                        border-top-left-radius: 6px;
                    }
                    &.active {
                        color: #3390ec;
                    }
                    &.active::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        display: block;
                        width: 70%;
                        height: 3px;
                        background-color: #3390ec;
                    }
                }
            }
        }
        .chats_wrapper {
            .tabs-content {
                width: 100%;
                display: none;
                border-top: 1px solid #dfe1e5;
                padding: 8px;
                &.active {
                    display: block;
                }
                .chat_item {
                    cursor: pointer;
                    padding: 0.5625rem;
                    border-radius: 10px;
                    height: 72px;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    &:hover {
                        background-color: rgba(128, 128, 128, 0.082);
                    }
                    .chat_avatar {
                        width: 54px;
                        height: 54px;
                        border-radius: 50%;
                        overflow: hidden;
                        background: linear-gradient(#72d5fd #2a9ef1);
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .user_caption {
                        padding: 0.0625rem 0.4375rem 0.0625rem 0.5625rem;
                        .diolog_title {
                            display: grid;
                            align-items: center;
                            grid-template-columns: 1fr auto;
                            .diolog_title_details {
                                font-size: 0.75rem;
                                color: $secondary-text-color;
                                display: block;
                                i {
                                    color: green;
                                }
                            }
                        }
                        .dialog_subtitle {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 27px;
                            color: $secondary-text-color;
                        }
                    }
                }
            }
        }
    }

    #column-center {
        height: 100vh;
        // overflow: auto; //buni .main chat qildi
        background: #e6ebee url(https://web.telegram.org/k/assets/img/bg.jpeg)
            center center no-repeat;
        background-size: cover;

        .main-header {
            @include header-style($column-center-width);
            cursor: pointer;
            // height: 56px;//grid -tem-row qildi buni ishini
            padding: 0 3px;
            .person {
                display: grid;
                grid-template-columns: auto 1fr auto auto;
                grid-template-rows: $header-height;
                align-items: center;
                width: 100%;
                .avatar {
                    border-radius: 50%;
                    width: 42px;
                    height: 42px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                    }
                }
                .info {
                    padding-left: 18px;
                    font-size: 16px;
                    #name {
                        font-weight: 500;
                    }
                    #status {
                        font-size: 14px;
                        margin-top: 1px;
                        color: $secondary-text-color;
                    }
                }
                .search-btn,
                .more-btn {
                    transition: 300ms;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 7px;
                    border-radius: 50%;
                    &:hover {
                        background-color: rgba(128, 128, 128, 0.486);
                    }
                    i {
                        font-size: 17px;
                        color: #707579;
                    }
                }
            }
        }
        .main-chat {
            padding: 58px 0 0;
            height: 90%;
            overflow-y: auto;

            .message {
                font-family: sans-serif;
                padding: 6px 8px 6px 10px;
                margin: 4px 0 8px 0;
                max-width: 480px;
                line-height: 1.3125;
                // word-break: break-word;
                // white-space: pre-wrap;
                position: relative;
                font-weight: 400;
                border-radius: 10px;
                .tail {
                    position: absolute;
                    bottom: 0;
                    display: inline-block;
                    border: 15px solid transparent;
                }
                &.to-me {
                    text-align: left;
                    background-color: white;

                    .tail {
                        border-bottom-color: white;
                        left: -15px;
                    }
                }
                &.from-me {
                    text-align: right;
                    background-color: #eeffde;
                    margin-left: auto;
                    .tail {
                        border-bottom-color: #eeffde;
                        right: -15px;
                    }
                }
            }
        }
        .main-footer {
            position: fixed;
            bottom: 1rem;
            width: $column-center-width;
            .main-footer-wrapper {
                display: grid;
                grid-template-columns: 1fr 46px;
                gap: 10px;

                .new-message-wrapper {
                    border-radius: 10px;
                    background-color: white;
                    display: grid;
                    grid-template-columns: auto 1fr auto auto;
                    align-items: center;
                    .emoji {
                        cursor: pointer;
                        padding: 0 15px;
                        color: $secondary-text-color;
                        i {
                            font-size: 24px;
                        }
                    }
                    .new-message-text {
                        padding: 0 5px;

                        input {
                            font-size: 16px;
                            font-family: sans-serif;
                            border: none;
                            width: 100%;
                            outline: none;
                        }
                    }
                    .keyboard {
                        cursor: pointer;
                        color: $secondary-text-color;
                        i {
                            font-size: 24px;
                        }
                    }
                    .file {
                        cursor: pointer;
                        padding: 0 15px;
                        color: $secondary-text-color;
                        i {
                            font-size: 24px;
                        }
                    }
                }
                .new-message-voice {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    background-color: white;
                    color: $secondary-text-color;
                    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 21%);
                    i {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    #column-right {
        height: 100vh;
        overflow-y: auto;
    }
}
