* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

#telegram {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 27.5% 1fr 25%;
}
#telegram #column-left {
  height: 100vh;
}
#telegram #column-center {
  height: 100vh;
  background: #e6ebee url(https://web.telegram.org/k/assets/img/bg.jpeg) center center no-repeat;
  background-size: cover;
}
#telegram #column-center .container {
  padding: 0 16px;
  width: 100%;
}
#telegram #column-center .main-header {
  cursor: pointer;
  padding: 0 3px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 47.5%;
}
#telegram #column-center .main-header .person {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: 56px;
  align-items: center;
  width: 100%;
}
#telegram #column-center .main-header .person .avatar {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
#telegram #column-center .main-header .person .avatar img {
  -o-object-fit: cover;
     object-fit: cover;
}
#telegram #column-center .main-header .person .info {
  padding-left: 18px;
  font-size: 16px;
}
#telegram #column-center .main-header .person .info #name {
  font-weight: 500;
}
#telegram #column-center .main-header .person .info #status {
  font-size: 14px;
  margin-top: 1px;
  color: #707579;
}
#telegram #column-center .main-header .person .search-btn,
#telegram #column-center .main-header .person .more-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  border-radius: 50%;
}
#telegram #column-center .main-header .person .search-btn:hover,
#telegram #column-center .main-header .person .more-btn:hover {
  background-color: rgba(128, 128, 128, 0.486);
}
#telegram #column-center .main-header .person .search-btn i,
#telegram #column-center .main-header .person .more-btn i {
  font-size: 17px;
  color: #707579;
}
#telegram #column-center .main-chat {
  padding: 58px 0 0;
  height: 90%;
  overflow-y: auto;
}
#telegram #column-center .main-chat .message {
  font-family: sans-serif;
  padding: 6px 8px 6px 10px;
  margin: 4px 0 8px 0;
  max-width: 480px;
  line-height: 1.3125;
  position: relative;
  font-weight: 400;
  border-radius: 10px;
}
#telegram #column-center .main-chat .message .tail {
  position: absolute;
  bottom: 0;
  display: inline-block;
  border: 15px solid transparent;
}
#telegram #column-center .main-chat .message.to-me {
  text-align: left;
  background-color: white;
}
#telegram #column-center .main-chat .message.to-me .tail {
  border-bottom-color: white;
  left: -15px;
}
#telegram #column-center .main-chat .message.from-me {
  text-align: right;
  background-color: #eeffde;
  margin-left: auto;
}
#telegram #column-center .main-chat .message.from-me .tail {
  border-bottom-color: #eeffde;
  right: -15px;
}
#telegram #column-center .main-footer {
  position: fixed;
  bottom: 1rem;
  width: 47.5%;
}
#telegram #column-center .main-footer .main-footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 46px;
  gap: 10px;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper {
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .emoji {
  cursor: pointer;
  padding: 0 15px;
  color: #707579;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .emoji i {
  font-size: 24px;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .new-message-text {
  padding: 0 5px;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .new-message-text input {
  font-size: 16px;
  font-family: sans-serif;
  border: none;
  width: 100%;
  outline: none;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .keyboard {
  cursor: pointer;
  color: #707579;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .keyboard i {
  font-size: 24px;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .file {
  cursor: pointer;
  padding: 0 15px;
  color: #707579;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .file i {
  font-size: 24px;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-voice {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: white;
  color: #707579;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-voice i {
  font-size: 24px;
}
#telegram #column-right {
  height: 100vh;
}/*# sourceMappingURL=style.css.map */