* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.container {
  padding: 0 16px;
  width: 100%;
}

#telegram #column-right .right-header .profile .edit-btn, #telegram #column-right .right-header .profile .close-btn, #telegram #column-center .main-header .person .search-btn,
#telegram #column-center .main-header .person .more-btn, #telegram #column-left .left-header .left-header-wrapper .toggle-settings {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  transition: 300ms;
  border-radius: 35%;
}
#telegram #column-right .right-header .profile .edit-btn:hover, #telegram #column-right .right-header .profile .close-btn:hover, #telegram #column-center .main-header .person .search-btn:hover,
#telegram #column-center .main-header .person .more-btn:hover, #telegram #column-left .left-header .left-header-wrapper .toggle-settings:hover {
  background-color: rgba(128, 128, 128, 0.103);
  border-radius: 50%;
}
#telegram #column-right .right-header .profile .edit-btn i, #telegram #column-right .right-header .profile .close-btn i, #telegram #column-center .main-header .person .search-btn i,
#telegram #column-center .main-header .person .more-btn i, #telegram #column-left .left-header .left-header-wrapper .toggle-settings i {
  color: #707579;
}

#telegram #column-right .right-footer .shared-media, #telegram #column-left .left-navigation .navbar {
  display: flex;
  list-style: none;
  overflow-x: auto;
}
#telegram #column-right .right-footer .shared-media li, #telegram #column-left .left-navigation .navbar li {
  position: relative;
  height: 3rem;
  padding: 0 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #707579;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
#telegram #column-right .right-footer .shared-media li:hover, #telegram #column-left .left-navigation .navbar li:hover {
  background-color: rgba(128, 128, 128, 0.219);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
#telegram #column-right .right-footer .shared-media li.active, #telegram #column-left .left-navigation .navbar li.active {
  color: #3390ec;
}
#telegram #column-right .right-footer .shared-media li.active::after, #telegram #column-left .left-navigation .navbar li.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 70%;
  height: 3px;
  background-color: #3390ec;
}

#telegram {
  grid-template-columns: 27.5% 1fr 0%;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  display: grid;
}
#telegram #column-left {
  overflow: auto;
  height: 100vh;
}
#telegram #column-left .left-header {
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
  position: fixed;
  z-index: 1;
  width: 27.5%;
  z-index: 6;
}
#telegram #column-left .left-header .left-header-wrapper {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 56px;
  align-items: center;
  justify-items: center;
  position: relative;
}
#telegram #column-left .left-header .left-header-wrapper .settings {
  transition: 300ms;
  position: absolute;
  bottom: 0;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
}
#telegram #column-left .left-header .left-header-wrapper .settings.hide {
  transform: scale(0);
}
#telegram #column-left .left-header .left-header-wrapper .search-wrapper {
  width: 100%;
  line-height: 42px;
  border-radius: 22px;
  border: 1px solid #dfe1e5;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 40px;
  align-items: center;
}
#telegram #column-left .left-header .left-header-wrapper .search-wrapper i {
  width: 42px;
  text-align: center;
  font-size: 17px;
  color: rgba(128, 128, 128, 0.596);
  border-radius: 50%;
}
#telegram #column-left .left-header .left-header-wrapper .search-wrapper i:last-child {
  opacity: 0;
  cursor: pointer;
  padding: 30% 0;
  font-size: 19px;
  color: #3390ec;
  transition: 300ms;
}
#telegram #column-left .left-header .left-header-wrapper .search-wrapper i:last-child:hover {
  background-color: rgba(0, 102, 255, 0.151);
}
#telegram #column-left .left-header .left-header-wrapper .search-wrapper input {
  height: 40px;
  outline: none;
  font-size: 100%;
  border: none;
}
#telegram #column-left .left-navigation {
  padding-left: 11px;
  padding-top: 56px;
}
#telegram #column-left .chats_wrapper .tabs-content {
  width: 100%;
  display: none;
  border-top: 1px solid #dfe1e5;
  padding: 8px;
}
#telegram #column-left .chats_wrapper .tabs-content.active {
  display: block;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item {
  cursor: pointer;
  padding: 0.5625rem;
  border-radius: 10px;
  height: 72px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item:hover {
  background-color: rgba(128, 128, 128, 0.082);
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .chat_avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(#72d5fd #2a9ef1);
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .chat_avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .user_caption {
  padding: 0.0625rem 0.4375rem 0.0625rem 0.5625rem;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .user_caption .diolog_title {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .user_caption .diolog_title p {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .user_caption .diolog_title .diolog_title_details {
  font-size: 0.75rem;
  color: #707579;
  display: block;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .user_caption .diolog_title .diolog_title_details i {
  color: green;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .user_caption .dialog_subtitle {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .user_caption .dialog_subtitle p {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 27px;
  color: #707579;
}
#telegram #column-left .chats_wrapper .tabs-content .chat_item .user_caption .dialog_subtitle .diolog_subtitle_details {
  margin: 4px 0 0 8px;
  padding: 0 8px;
  background-color: rgba(128, 128, 128, 0.493);
  color: white;
  border-radius: 30px;
  line-height: 1.5rem;
}
#telegram #column-center {
  height: 100vh;
  background: #e6ebee url(https://web.telegram.org/k/assets/img/bg.jpeg) center center no-repeat;
  background-size: cover;
}
#telegram #column-center .container {
  width: 728px;
  margin: auto;
}
#telegram #column-center .main-header {
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
  position: fixed;
  z-index: 1;
  width: 72.5%;
  cursor: pointer;
  padding: 0 3px;
}
#telegram #column-center .main-header .container {
  width: 100%;
}
#telegram #column-center .main-header .person {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: 56px;
  align-items: center;
  width: 100%;
}
#telegram #column-center .main-header .person .avatar {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
#telegram #column-center .main-header .person .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#telegram #column-center .main-header .person .info {
  padding-left: 18px;
  font-size: 16px;
}
#telegram #column-center .main-header .person .info #name {
  font-weight: 500;
}
#telegram #column-center .main-header .person .info #status {
  font-size: 14px;
  margin-top: 1px;
  color: #707579;
}
#telegram #column-center .main-header .person .search-btn,
#telegram #column-center .main-header .person .more-btn {
  margin-left: 7px;
}
#telegram #column-center .main-header .person .search-btn i,
#telegram #column-center .main-header .person .more-btn i {
  pointer-events: none;
  font-size: 17px;
  color: #707579;
}
#telegram #column-center .main-chat {
  padding: 56px 0 0;
  height: 90%;
  overflow-y: auto;
}
#telegram #column-center .main-chat .container {
  padding-right: 83px;
}
#telegram #column-center .main-chat .message {
  font-family: sans-serif;
  padding: 6px 42px 6px 10px;
  margin: 4px 0 8px 0;
  max-width: 480px;
  min-height: 30px;
  display: inline-block;
  line-height: 1.3125;
  position: relative;
  font-weight: 400;
  border-radius: 10px;
  text-align: left;
}
#telegram #column-center .main-chat .message .message_time {
  font-size: 12px;
  position: absolute;
  bottom: 4px;
  right: 8px;
  color: #4fae4e;
}
#telegram #column-center .main-chat .message .tail {
  position: absolute;
  bottom: 0;
  display: inline-block;
  border: 10px solid transparent;
}
#telegram #column-center .main-chat .message.to-me {
  background-color: white;
}
#telegram #column-center .main-chat .message.to-me .tail {
  border-bottom-color: white;
  left: -10px;
}
#telegram #column-center .main-chat .message.from-me {
  padding-right: 58px;
  background-color: #eeffde;
  margin-left: auto;
}
#telegram #column-center .main-chat .message.from-me .tail {
  border-bottom-color: #eeffde;
  right: -10px;
}
#telegram #column-center .main-footer {
  display: none;
  position: fixed;
  bottom: 1rem;
  width: 72.5%;
}
#telegram #column-center .main-footer .main-footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 46px;
  gap: 10px;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper {
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .emoji {
  cursor: pointer;
  padding: 0 15px;
  color: #707579;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .emoji i {
  font-size: 24px;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .new-message-text {
  padding: 0 5px;
  height: 100%;
  display: grid;
  align-self: center;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .new-message-text input {
  font-size: 16px;
  font-family: sans-serif;
  border: none;
  width: 100%;
  outline: none;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .keyboard {
  cursor: pointer;
  color: #707579;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .keyboard i {
  font-size: 24px;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .file {
  cursor: pointer;
  padding: 0 15px;
  color: #707579;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-wrapper .file i {
  font-size: 24px;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-voice {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: white;
  color: #707579;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-voice .fa-paper-plane {
  color: blue;
}
#telegram #column-center .main-footer .main-footer-wrapper .new-message-voice i {
  font-size: 24px;
  pointer-events: none;
}
#telegram #column-center.shrinked .main-header,
#telegram #column-center.shrinked .main-footer {
  width: 47.5%;
}
#telegram #column-center.shrinked .container {
  width: unset;
  margin: unset;
}
#telegram #column-center.shrinked .main-chat .container {
  padding-right: 16px;
}
#telegram #column-right {
  height: 100vh;
  overflow-y: auto;
}
#telegram #column-right .right-header {
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
  position: fixed;
  z-index: 1;
  width: 0%;
}
#telegram #column-right .right-header .profile {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 56px;
  align-items: center;
  width: 100%;
}
#telegram #column-right .right-header .profile .close-btn i {
  pointer-events: none;
  font-size: 1.5rem;
  line-height: 1;
}
#telegram #column-right .right-header .profile .profile-text {
  padding-left: 24px;
  font-weight: 500;
  font-size: 1.25rem;
}
#telegram #column-right .right-header .profile .edit-btn i {
  pointer-events: none;
  font-size: 1.2rem;
}
#telegram #column-right .carousel {
  width: 100%;
  padding-top: 56px;
  position: relative;
  cursor: pointer;
}
#telegram #column-right .carousel .carousel-items {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 384px;
}
#telegram #column-right .carousel .carousel-items .carousel-item {
  position: absolute;
  left: 101%;
  width: 100%;
  height: 100%;
}
#telegram #column-right .carousel .carousel-items .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#telegram #column-right .carousel .carousel-items .carousel-item.active {
  left: 0;
}
#telegram #column-right .carousel .carousel-items-gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.3) 8.98%, rgba(0, 0, 0, 0) 100%);
}
#telegram #column-right .carousel .carousel-items-info {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 1.5rem;
  bottom: 0.5625rem;
  pointer-events: none;
  color: white;
}
#telegram #column-right .carousel .carousel-items-info .profile-name {
  font-size: 20px;
  line-height: 1.3125;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  max-width: 340px;
}
#telegram #column-right .carousel .carousel-items-info .profile-subtitle {
  font-size: 14px;
  opacity: 0.7;
}
#telegram #column-right .carousel .carousel-items-tabs {
  display: flex;
  position: absolute;
  top: 15%;
  left: 0.375rem;
  right: 0.375rem;
  height: 0.125rem;
  pointer-events: none;
}
#telegram #column-right .carousel .carousel-items-tabs .carousel-items-tab {
  flex: 1 1 auto;
  border-radius: 4px;
  margin: 0 0.125rem;
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  height: 2px;
}
#telegram #column-right .carousel .carousel-items-tabs .carousel-items-tab.active {
  opacity: 1;
}
#telegram #column-right .carousel .carousel-items-arrow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100% / 3);
  opacity: 0;
  background-image: url(https://web.telegram.org/k/assets/img/avatarprevious.svg);
  background-position: 1.125rem 55%;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: 300ms;
}
#telegram #column-right .carousel .carousel-items-arrow.arrow-next {
  left: auto;
  right: 0;
  background-image: url(https://web.telegram.org/k/assets/img/avatarnext.svg);
  background-position: calc(100% - 1.125rem) 55%;
}
#telegram #column-right .carousel .carousel-items-arrow:hover {
  opacity: 1;
}
#telegram #column-right .right-main {
  padding: 8px;
}
#telegram #column-right .right-main .right-main-item {
  width: 100%;
  display: grid;
  grid-template-columns: 56px 1fr;
  align-items: center;
  border-radius: 7px;
  transition: 300ms;
}
#telegram #column-right .right-main .right-main-item:hover {
  background-color: rgba(128, 128, 128, 0.103);
}
#telegram #column-right .right-main .right-main-item .r_icon {
  color: #707579;
  font-size: 24px;
  display: grid;
  place-items: center;
}
#telegram #column-right .right-main .right-main-item .r_text {
  padding: 11px 16px;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.788);
}
#telegram #column-right .right-main .right-main-item .r_text span {
  color: #707579;
  font-size: 0.875rem;
  line-height: 1.3125;
}
#telegram #column-right .right-main .right-main-item .r_text.bell-text {
  display: flex;
  justify-content: space-between;
}
#telegram #column-right .right-main .right-main-item .r_text.bell-text .toggle-notification {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
#telegram #column-right .right-main .right-main-item .r_text.bell-text .toggle-notification i {
  width: 37px;
  pointer-events: none;
  font-size: 25px;
}
#telegram #column-right .right-main .right-main-item .r_text.bell-text .toggle-notification i.fa-toggle-on {
  color: rgba(0, 0, 255, 0.795);
}
#telegram #column-right .right-main .right-main-item .r_text.bell-text .toggle-notification i.fa-toggle-off {
  color: #4e4e4e;
}
#telegram #column-right .right-footer {
  background-color: rgba(128, 128, 128, 0.103);
  padding-top: 12px;
}
#telegram #column-right .right-footer .shared-media {
  background-color: white;
}
#telegram #column-right .right-footer .shared-media li {
  flex: 1 1 auto;
  height: 56px;
}
#telegram #column-right .right-footer .shared-media li:hover {
  border-radius: unset;
}
#telegram #column-right .right-footer .shared-media li.active:hover {
  background-color: rgba(0, 195, 255, 0.11);
}
#telegram #column-right .right-footer .shared_media_content {
  transition: 250ms;
  transform: scale(0);
}
#telegram #column-right .right-footer .shared_media_content.active {
  transform: scale(1);
}
#telegram #column-right.expanded .right-header {
  width: 25%;
}
#telegram .edit_contact_modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.836);
  color: rgba(255, 255, 255, 0.822);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform: scale(0);
  transition: 300ms;
}
#telegram .edit_contact_modal .edit_contact_wrapper {
  width: 25%;
  padding: 2%;
  background-color: #12242e;
  z-index: 11;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_1 {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_1 .img_avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(#72d5fd #2a9ef1);
  margin-right: 5%;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_1 .img_avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_1 .tel_and_status h5 {
  color: #3c6880;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_2 {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_2 label {
  color: #648597;
  padding-bottom: 2%;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_2 input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  font-size: 1.1rem;
  color: white;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_2 input:focus {
  border-color: #648597;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_3 {
  text-align: right;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_3 button {
  background-color: transparent;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #648597;
  padding: 3%;
  border-radius: 5px;
  transition: 300ms;
  cursor: pointer;
}
#telegram .edit_contact_modal .edit_contact_wrapper .row_3 button:hover {
  background-color: #2d3c44;
}/*# sourceMappingURL=style.css.map */