* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

#telegram {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 27.5% 1fr 25%;
    $secondary-text-color: #707579;
    #column-left {
        height: 100vh;
    }
    #column-center {
        height: 100vh;
        overflow: auto;
        //  position: relative;
        .container {
            padding: 0 13px;
            width: 100%;
        }
        .main-header {
            cursor: pointer;
            height: 56px;
            padding: 0 3px;
            background-color: #fff;
            box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 21%);
            position: fixed;
            display: flex;
            align-items: center;
            z-index: 1;
            width: 47.5%;
            .person {
                display: grid;
                grid-template-columns: auto 1fr auto auto;
                width: 100%;
                .avatar {
                    border-radius: 50%;
                    width: 42px;
                    height: 42px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                    }
                }
                .info {
                    padding-left: 18px;
                    font-size: 16px;
                    #name {
                        font-weight: 500;
                    }
                    #status {
                        font-size: 14px;
                        margin-top: 1px;
                        color: $secondary-text-color;
                    }
                }
                .search-btn,
                .more-btn {
                    width: 40px;
                    height: 40px;
                    padding: 8px;
                    margin-left: 8px;
                    text-align: center;
                    border-radius: 50%;
                    &:hover {
                        background-color: rgba(128, 128, 128, 0.486);
                    }
                    i {
                        font-size: 24px;
                        color: #707579;
                    }
                }
            }
        }
        .main-chat {
            padding-top: 56px;
            background: #e6ebee
                url(https://web.telegram.org/k/assets/img/bg.jpeg) center center
                no-repeat;
            background-size: cover;
            height: 100%;
            .message {
                font-family: sans-serif;
                padding: 6px 8px 6px 10px;
                margin: 4px 0;
                max-width: 480px;
                line-height: 1.3125;
                // word-break: break-word;
                // white-space: pre-wrap;
                position: relative;
                font-weight: 400;
                border-radius: 10px;
                .tail {
                    position: absolute;
                    bottom: 0;
                    right: -15px;
                    display: inline-block;
                    // border-color: transparent;
                    border: 15px solid transparent;

                    border-bottom-color: white;
                }
                &.to-me {
                    text-align: left;
                    background-color: white;

                    .tail{
                        
                    }
                }
                &.from-me {
                    text-align: right;
                    background-color: #eeffde;
                }
            }
        }
    }
    #column-right {
        height: 100vh;
    }
}
