* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$secondary-text-color: #707579;
$column-left-width: 27.5%;
$column-center-width-shrinked: 47.5%;
$column-center-width: 72.5%;
$column-right-width-expanded: 25%;
$column-right-width: 0%;
$header-height: 56px;

::-webkit-scrollbar {
    width: 0px;
    display: none;
}
.container {
    padding: 0 16px;
    width: 100%;
}
@mixin header-style($width) {
    // cursor: pointer;
    // height: 56px;//grid -tem-row qildi buni ishini
    // padding: 0 3px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 21%);
    position: fixed;
    z-index: 1;
    width: $width;
}
%button-style {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    transition: 300ms;
    border-radius: 35%;
    &:hover {
        background-color: rgba(128, 128, 128, 0.103);
        border-radius: 50%;
    }
    i {
        color: #707579;
    }
}
%navbar-style {
    display: flex;
    list-style: none;
    overflow-x: auto;
    li {
        position: relative;
        height: 3rem;
        padding: 0 1rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        color: $secondary-text-color;
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap; //shunga ancha vaqtim ketti. all chats bolinmasligi kk edi
        justify-content: center;
        align-items: center;
        transition: 300ms;
        &:hover {
            background-color: rgba(128, 128, 128, 0.219);
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
        }
        &.active {
            color: #3390ec;
        }
        &.active::after {
            content: "";
            position: absolute;
            bottom: 0;
            display: block;
            width: 70%;
            height: 3px;
            background-color: #3390ec;
        }
    }
}
#telegram {
    grid-template-columns: 27.5% 1fr 0%;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    display: grid;

    #column-left {
        overflow: auto;
        height: 100vh;
        .left-header {
            @include header-style($column-left-width);
            z-index: 6;
            .left-header-wrapper {
                display: grid;
                grid-template-columns: 40px 1fr;
                grid-template-rows: $header-height;
                align-items: center;
                justify-items: center;
                position: relative;
                .settings {
                    transition: 300ms;
                    position: absolute;
                    bottom: 0;
                    background-color: white;
                    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 21%);
                    &.hide {
                        transform: scale(0);
                    }
                }
                .toggle-settings {
                    @extend %button-style; //inherited from style written above
                }
                .search-wrapper {
                    width: 100%;
                    line-height: 42px;
                    border-radius: 22px;
                    border: 1px solid #dfe1e5;
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                    grid-template-rows: 40px;
                    align-items: center;
                    i {
                        width: 42px;
                        text-align: center;
                        font-size: 17px;
                        color: rgba(128, 128, 128, 0.596);
                        border-radius: 50%;
                        &:last-child {
                            opacity: 0;
                            cursor: pointer;
                            padding: 30% 0;
                            font-size: 19px;
                            color: #3390ec;
                            transition: 300ms;
                            &:hover {
                                background-color: rgba(0, 102, 255, 0.151);
                            }
                        }
                    }
                    input {
                        height: 40px;
                        outline: none;
                        font-size: 100%;
                        border: none;
                    }
                }
            }
        }
        .left-navigation {
            padding-left: 11px;
            padding-top: $header-height;
            .navbar {
                // min-width: 120%;//bu overflow ga xalaqit berdi
                @extend %navbar-style;
            }
        }
        .chats_wrapper {
            .tabs-content {
                width: 100%;
                display: none;
                border-top: 1px solid #dfe1e5;
                padding: 8px;
                &.active {
                    display: block;
                }
                .chat_item {
                    cursor: pointer;
                    padding: 0.5625rem;
                    border-radius: 10px;
                    height: 72px;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    &:hover {
                        background-color: rgba(128, 128, 128, 0.082);
                    }
                    .chat_avatar {
                        width: 54px;
                        height: 54px;
                        border-radius: 50%;
                        overflow: hidden;
                        background: linear-gradient(#72d5fd #2a9ef1);
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .user_caption {
                        padding: 0.0625rem 0.4375rem 0.0625rem 0.5625rem;
                        .diolog_title {
                            display: grid;
                            align-items: center;
                            grid-template-columns: 1fr auto;
                            p {
                                max-width: 90%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .diolog_title_details {
                                font-size: 0.75rem;
                                color: $secondary-text-color;
                                display: block;

                                i {
                                    color: green;
                                }
                            }
                        }
                        .dialog_subtitle {
                            display: grid;
                            align-items: center;
                            grid-template-columns: 1fr auto;
                            p {
                                max-width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                line-height: 27px;
                                color: $secondary-text-color;
                            }
                            .diolog_subtitle_details {
                                margin: 4px 0 0 8px;
                                padding: 0 8px;
                                background-color: rgba(128, 128, 128, 0.493);
                                color: white;
                                border-radius: 30px;
                                line-height: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }

    #column-center {
        .container {
            // !shrink uchun
            width: 728px;
            margin: auto;
        }
        height: 100vh;
        // overflow: auto; //buni .main chat qildi
        background: #e6ebee url(https://web.telegram.org/k/assets/img/bg.jpeg)
            center center no-repeat;
        background-size: cover;

        .main-header {
            .container {
                width: 100%; // !shrink uchun
            }
            @include header-style($column-center-width);
            cursor: pointer;
            // height: 56px;//grid -tem-row qildi buni ishini
            padding: 0 3px;
            .person {
                display: grid;
                grid-template-columns: auto 1fr auto auto;
                grid-template-rows: $header-height;
                align-items: center;
                width: 100%;
                .avatar {
                    border-radius: 50%;
                    width: 42px;
                    height: 42px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info {
                    padding-left: 18px;
                    font-size: 16px;
                    #name {
                        font-weight: 500;
                    }
                    #status {
                        font-size: 14px;
                        margin-top: 1px;
                        color: $secondary-text-color;
                    }
                }
                .search-btn,
                .more-btn {
                    @extend %button-style;
                    margin-left: 7px;

                    i {
                        pointer-events: none;
                        font-size: 17px;
                        color: #707579;
                    }
                }
                .more-btn-content {
                    position: absolute;
                    right: 2%;
                    top: 100%;
                    transform: scale(0);
                    &.active {
                        transform: scale(1);
                    }
                    transition: 300ms;
                    ul {
                        margin-top: 0.5rem;
                        list-style: none;
                        padding: 0.5rem 0;
                        background-color: white;
                        border-radius: 10px;
                        li {
                            display: flex;
                            font-size: 16px;
                            padding: 0 40px 0 1rem;
                            height: 56px;
                            cursor: pointer;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            align-items: center;
                            text-align: left;
                            color: rgba(0, 0, 0, 0.781);
                            &:nth-child(4) {
                                color: rgb(230, 5, 5);
                            }
                            &:hover {
                                background: rgba(128, 128, 128, 0.116);
                            }
                            i {
                                pointer-events: none;
                                width: 24px;
                                height: 24px;
                                display: inline-block;
                                font-size: 19px;
                                display: grid;
                                align-items: center;
                                margin-right: 20px;
                                color: $secondary-text-color;
                                &.fa-exclamation-triangle {
                                    color: rgb(230, 5, 5);
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-chat {
            padding: $header-height 0 0;
            height: 90%;
            overflow-y: auto;
            .container {
                padding-right: 83px; // !shrink uchun
            }
            .message {
                font-family: sans-serif;
                padding: 6px 42px 6px 10px;
                margin: 4px 0 8px 0;
                max-width: 480px;
                min-height: 30px;
                display: inline-block;
                line-height: 1.3125;
                // word-break: break-word;
                // white-space: pre-wrap;
                position: relative;
                font-weight: 400;
                border-radius: 10px;
                text-align: left;
                .message_time {
                    font-size: 12px;
                    position: absolute;
                    bottom: 4px;
                    right: 8px;
                    color: #4fae4e;
                }
                .tail {
                    position: absolute;
                    bottom: 0;
                    display: none;
                    border: 10px solid transparent;
                }
                &.has-tail {
                    .tail {
                        display: inline-block;
                    }
                }
                &.to-me {
                    background-color: white;

                    .tail {
                        border-bottom-color: white;
                        left: -10px;
                    }
                }
                &.from-me {
                    padding-right: 58px;
                    background-color: #eeffde;
                    margin-left: auto;
                    .tail {
                        border-bottom-color: #eeffde;
                        right: -10px;
                    }
                }
                &.service_notification {
                    text-align: center;
                    margin: 4px auto 8px auto !important;
                }
            }
        }
        .main-footer {
            display: none;
            position: fixed;
            bottom: 1rem;
            width: $column-center-width;
            .main-footer-wrapper {
                display: grid;
                grid-template-columns: 1fr 46px;
                gap: 10px;

                .new-message-wrapper {
                    border-radius: 10px;
                    background-color: white;
                    display: grid;
                    grid-template-columns: auto 1fr auto auto;
                    align-items: center;
                    .emoji {
                        cursor: pointer;
                        padding: 0 15px;
                        color: $secondary-text-color;
                        i {
                            font-size: 24px;
                        }
                    }
                    .new-message-text {
                        padding: 0 5px;
                        height: 100%;
                        display: grid;
                        align-self: center;
                        input {
                            font-size: 16px;
                            font-family: sans-serif;
                            border: none;
                            width: 100%;
                            outline: none;
                        }
                    }
                    .keyboard {
                        cursor: pointer;
                        color: $secondary-text-color;
                        i {
                            font-size: 24px;
                        }
                    }
                    .file {
                        cursor: pointer;
                        padding: 0 15px;
                        color: $secondary-text-color;
                        i {
                            font-size: 24px;
                        }
                    }
                }
                .new-message-voice {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    background-color: white;
                    color: $secondary-text-color;
                    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 21%);
                    .fa-paper-plane {
                        color: blue;
                    }
                    i {
                        font-size: 24px;
                        pointer-events: none;
                    }
                }
            }
        }
        // when column is shrinked :
        &.shrinked {
            .main-header,
            .main-footer {
                width: $column-center-width-shrinked;
            }
            .container {
                width: unset;
                margin: unset;
            }
            .main-chat {
                .container {
                    padding-right: 16px;
                }
            }
        }
    }
    #column-right {
        height: 100vh;
        overflow-y: auto;
        .right-header {
            @include header-style($column-right-width);
            .profile {
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-template-rows: $header-height;
                align-items: center;
                width: 100%;
                .close-btn {
                    @extend %button-style;
                    i {
                        pointer-events: none;
                        font-size: 1.5rem;
                        line-height: 1;
                    }
                }
                .profile-text {
                    padding-left: 24px;
                    font-weight: 500;
                    font-size: 1.25rem;
                }
                .edit-btn {
                    @extend %button-style;
                    i {
                        pointer-events: none;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .carousel {
            width: 100%;
            padding-top: $header-height;
            position: relative;
            cursor: pointer;
            .carousel-items {
                overflow: hidden;
                position: relative;
                width: 100%;
                height: 384px;
                .carousel-item {
                    position: absolute;
                    left: 101%;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &.active {
                        left: 0;
                    }
                }
            }
            .carousel-items-gradient {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 80px;
                background: linear-gradient(
                    360deg,
                    rgba(0, 0, 0, 0.3) 8.98%,
                    rgba(0, 0, 0, 0) 100%
                );
            }

            .carousel-items-info {
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                left: 1.5rem;
                bottom: 0.5625rem;
                pointer-events: none;
                color: white;
                .profile-name {
                    font-size: 20px;
                    line-height: 1.3125;
                    font-weight: 500;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-word;
                    max-width: 340px;
                }
                .profile-subtitle {
                    font-size: 14px;
                    opacity: 0.7;
                }
            }
            .carousel-items-tabs {
                display: flex;
                position: absolute;
                top: 15%;
                left: 0.375rem;
                right: 0.375rem;
                height: 0.125rem;
                pointer-events: none;
                .carousel-items-tab {
                    flex: 1 1 auto;
                    border-radius: 4px;
                    margin: 0 0.125rem;
                    background-color: rgb(255, 255, 255);
                    opacity: 0.5;
                    transition: opacity 0.2s ease-in-out;
                    height: 2px;
                    &.active {
                        opacity: 1;
                    }
                }
            }
            .carousel-items-arrow {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: calc(100% / 3);
                opacity: 0;
                background-image: url(https://web.telegram.org/k/assets/img/avatarprevious.svg);
                background-position: 1.125rem 55%;
                background-repeat: no-repeat;
                background-size: 1.25rem;
                transition: 300ms;
                &.arrow-next {
                    left: auto;
                    right: 0;
                    background-image: url(https://web.telegram.org/k/assets/img/avatarnext.svg);
                    background-position: calc(100% - 1.125rem) 55%;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }

        .right-main {
            padding: 8px;
            .right-main-item {
                width: 100%;
                display: grid;
                grid-template-columns: 56px 1fr;
                align-items: center;
                border-radius: 7px;
                transition: 300ms;
                &:hover {
                    background-color: rgba(128, 128, 128, 0.103);
                }
                .r_icon {
                    color: $secondary-text-color;
                    font-size: 24px;
                    display: grid;
                    place-items: center;
                }
                .r_text {
                    padding: 11px 16px;
                    word-break: break-word;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: rgba(0, 0, 0, 0.788);
                    span {
                        color: $secondary-text-color;
                        font-size: 0.875rem;
                        line-height: 1.3125;
                    }
                    &.bell-text {
                        display: flex;
                        justify-content: space-between;
                        .toggle-notification {
                            border: none;
                            background-color: transparent;
                            outline: none;
                            cursor: pointer;
                            i {
                                width: 37px; //shu ishlamadida
                                pointer-events: none;
                                font-size: 25px;
                                &.fa-toggle-on {
                                    color: rgba(0, 0, 255, 0.795);
                                }
                                &.fa-toggle-off {
                                    color: #4e4e4e;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-footer {
            background-color: rgba(128, 128, 128, 0.103);
            padding-top: 12px;
            .shared-media {
                @extend %navbar-style;
                background-color: white;
                li {
                    flex: 1 1 auto;
                    height: 56px;
                    &:hover {
                        border-radius: unset;
                    }
                    &.active:hover {
                        background-color: rgba(0, 195, 255, 0.11);
                    }
                }
            }
            .shared_media_content {
                transition: 250ms;
                transform: scale(0);
                &.active {
                    transform: scale(1);
                }
            }
        }
        // when expanded:
        &.expanded {
            .right-header {
                width: $column-right-width-expanded;
            }
        }
    }

    // edit contact modal
    .contact_modal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.836);
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transform: scale(0);
        transition: 300ms;
        &.active {
            transform: scale(1);
        }
        .contact_modal_wrapper {
            width: 25%;
            padding: 1rem 1.5rem 0.8125rem;
            border-radius: 10px;
            background-color: rgb(252, 252, 252);
            box-shadow: 0 0 5px 0 black;
            z-index: 11;
            .row_1 {
                display: grid;
                align-items: center;
                margin: 5% 0;
                grid-template-columns: auto 1fr;
                .img_avatar {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    overflow: hidden;
                    background: linear-gradient(#72d5fd #2a9ef1);
                    // gap: 5%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                p,
                .tel_and_status {
                    padding-left: 0.6875rem;
                    font-weight: 300;
                    span {
                        font-weight: 400;
                    }
                }
                h5 {
                    color: rgb(60, 104, 128);
                }
            }
            .row_2 {
                display: flex;
                flex-direction: column;
                margin: 5% 0;
                label {
                    color: rgb(100, 133, 151);
                    padding-bottom: 2%;
                }
                input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid rgb(0, 0, 0);
                    font-size: 1.15rem;
                    &:focus {
                        border-color: rgb(100, 133, 151);
                    }
                }
            }
            .row_3 {
                text-align: right;
                button {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    text-transform: uppercase;
                    color: #3390ec;
                    font-weight: 500;
                    font-size: 100%;
                    line-height: 1.15;
                    padding: 3%;
                    border-radius: 5px;
                    transition: 300ms;
                    cursor: pointer;
                    &:nth-child(2) {
                        color: rgb(202, 0, 0);
                    }
                    &:hover {
                        background-color: rgba(31, 110, 153, 0.089);
                    }
                }
            }
            .also_delete_for{
                display: grid;
                align-items: center;
                grid-template-columns: auto 1fr;
                font-weight: 300;
                margin-bottom: 1rem;
                input{
                    display: inline-block;
                    margin-right: 1rem;
                    height: 24px;
                    width: 24px;
                    line-height: 26px;
                }
                span{
                    font-weight: 400;
                }
            }
        }
    }
}
